<div class="row mt-4">
 <div [ngClass]="apresentacaoImagem()">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="/assets/registerImage.png" style="background-size: 1200px 800px;background-repeat: no-repeat;" class="my-4" id="imgForm" alt="" width="500px">
		</div>
	</div>

	<div [ngClass]="apresentacaoformularioUsuario()" class="col-md-6">

		<form novalidate (ngSubmit)="inserirUsuario()" class="p-1" [formGroup]="formularioUsuario">
      <div *ngIf=!ocultar class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label>Nome Completo</label>
          <input type="text" class="form-control" placeholder="Insira o nome completo" formControlName="nome" [ngClass]="{'is-invalid' : displayMessage.nome}" />
         <span class="text-danger" *ngIf="displayMessage.nome">
           <p [innerHTML]="displayMessage.nome"></p>
         </span>
        </div>

      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="email" placeholder="Insira o email" formControlName="email" [ngClass]="{'is-invalid' : displayMessage.email}"/>
        <span class="text-danger" *ngIf="displayMessage.email">
          <p [innerHTML]="displayMessage.email"></p>
        </span>
      </div>
      <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="">Login:</label>
        <input class="form-control" type="text" placeholder="Insira o nome de Usuário/Login" formControlName="login" [ngClass]="{'is-invalid' : displayMessage.login}" />
        <span class="text-danger" *ngIf="displayMessage.login">
          <p [innerHTML]="displayMessage.login"></p>
        </span>
      </div>
      <div class="form-group col-sm-6">
        <label for="">Telefone:</label>
        <input class="form-control" type="text" formControlName="telefone" placeholder="Insira o Número de Telefone" />
      </div>
      </div>
      <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="">CPF:</label>
        <input class="form-control" type="text" placeholder="Insira o CPF" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}" [ngClass]="{'is-invalid' : displayMessage.cpf}" />
        <span class="text-danger" *ngIf="displayMessage.cpf">
          <p [innerHTML]="displayMessage.cpf"></p>
        </span>
      </div>
      <div class="form-group col-sm-6">
        <label for="">Data de Nascimento:</label>
        <input class="form-control" type="date" formControlName="dataNascimento" placeholder="Insira sua Data de Nascimento" />
      </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" placeholder="Digite uma Senha" formControlName="senha"  [ngClass]="{'is-invalid' : displayMessage.senha}"  />
          <span class="text-danger" *ngIf="displayMessage.senha">
            <p [innerHTML]="displayMessage.senha"></p>
          </span>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" placeholder="Confirme a Senha" formControlName="confirmaSenha" [ngClass]="{'is-invalid' : displayMessage.confirmaSenha}" />
          <span class="text-danger" *ngIf="displayMessage.confirmaSenha">
            <p [innerHTML]="displayMessage.confirmaSenha"></p>
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="myfile">Selecione um icone:</label>
            <input type="file" id="myfile" name="myfile" formControlName="foto"  (change)="arquivo($event.target.files)">
        </div>
      </div>
      <div *ngIf=!ocultar class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <button class="btn btn-lg btn-success btn-block px-5" type="submit" [disabled]="!formularioUsuario.valid">
            Registar
          </button>
        </div>
        <div class="form-group col-6">
          <button class="btn btn-lg btn-danger btn-block px-5" (click)="resetForm()">
            Cancelar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a *ngIf=!ocultar class="btn btn-link btn-block" routerLink="/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
	</div>
</div>
