<!-- <div class="d-flex align-itens-center p-3 my-3 text-white bg-dark rounded shadow-sm">
  <div class="d-flex align align-items-center mr-auto">
    <i class="{{iconClass}} mt-2 mr-1" style="font-size:27px !important"></i>
    <div class="lh-100">
      <h2 class="mb-0">{{titulo}}</h2>
      <small>{{subtitulo}}</small>
    </div>
  </div>

  <div *ngIf="botaoListar == true">
    <button class="btn btn-outline-light" ><i class="fas fa-plus-circle"></i> Adicionar {{titulo}}
    </button>
  </div>

</div> -->
