<div class="d-flex align-itens-center p-3 my-3 text-white bg-dark rounded shadow-sm">
  <div class="d-flex align align-items-center mr-auto">
    <i class="fas fa-users mt-2 mr-2" style="font-size:27px !important"></i>
    <div class="lh-100">
      <h2 class="mb-0">Usuarios</h2>
      <small>Registro dos Usuários existentes no sistema</small>
    </div>
  </div>

  <div *ngIf="botaoAdicionar == true">
    <button class="btn btn-outline-light mt-3" (click)="modalAdicionarUsuario()"><i class="fas fa-plus-circle"></i> Adicionar Usuário
    </button>
  </div>

</div>
<div class="card shadow-sm p-3" >
  <table class="table table-sm table-hover">
    <thead class="thead-dark"  style="text-align: center;">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">NOME</th>
        <th scope="col">NASCIMENTO</th>
        <th scope="col">EMAIL</th>
        <th scope="col">CPF</th>
        <th scope="col">TELEFONE</th>
        <th scope="col">STATUS</th>
        <th scope="col">AÇÕES</th>
        <th scope="col">
          <button type="button" class="btn btn-outline-light btn-sm"  (click) = "alterarImagem()">
          <i class="{{!exibirImagem? 'fa fa-eye': 'fa fa-eye-slash'}}"></i>
          {{!exibirImagem?'exibir':'ocultar'}}
          </button>
        </th>
      </tr>
    </thead>
    <tbody style="text-align: center;">
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{usuario.id}}</th>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.data_nascimento | DateTimeFormat}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.cpf | CpfFormat}}</td>
        <td>{{usuario.telefone | CelphoneFormat }}</td>
        <td>
          <button type="button" class="btn btn-success btn-sm" *ngIf="usuario.status == true"><i class="fas fa-power-off"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="usuario.status != true"><i class="fas fa-power-off"></i></button>
        </td>
        <td>

          <button type="button" class="btn btn-danger btn-sm mr-2" tooltip="Desativar" (click)="openModal(template)"><i class="fas fa-power-off mr-1" ></i>Desativar</button>
          <button type="button" class="btn btn-warning btn-sm"  tooltip="Editar"><i class="fa fa-edit mr-1"></i>Editar</button>

        </td>
        <td *ngIf="exibirImagem == true">{{usuario.foto}}</td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Você confirma a operação?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>



<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Cadastro de Usuário</h4>

      </div>

      <div class="modal-body" id="modalBody">
        <app-cadastroUsuarioForm [ocultar]=true (evento)="lgModal.hide()"></app-cadastroUsuarioForm>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
